# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Sensitive variables
*.tfvars
*.tfvars.json

# Backend config overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# SSH keys
*.pem
*.key

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/

# User data scripts (optional if sensitive)
# jenkins-server-script.sh